body{
  background-color: rgb(21,21,62);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navigation-bar{
  background-color: rgb(25,25,71);
  height: 80px;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  
}

@media (max-width: 700px) {
  .header{
    width: 200px;
  }
  .new-task-container{
    width: 450px;
  }
  .write-task{
    width: 250px;
  }
  .tasks-container{
    width: 450px;
  }
  .task{
    width: 350px;
  }
  .task-content{
    width: 300px;
  }
  .edit-task{
    width: 200px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .header{
    width: 250px;
  }
  .new-task-container{
    width: 500px;
  }
  .write-task{
    width: 300px;
  }
  .tasks-container{
    width: 500px;
  }
  .task{
    width: 400px;
  }
  .task-content{
    width: 350px;
  }
  .edit-task{
    width: 250px;
  }
}
@media (min-width: 900px) {
  .header{
    width: 300px;
  }
  .new-task-container{
    width: 550px;
  }
  .write-task{
    width: 350px;
  }
  .tasks-container{
    width: 550px;
  }
  .task{
    width: 450px;
  }
  .task-content{
    width: 400px;
  }
  .edit-task{
    width: 300px;
  }
}



.app-name{
  font-size: 30px;
  color: white;
  margin-left: 60px;
}

.main{
  margin-top: 100px;
  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  background-color: rgb(25,25,71);
  height: 60px;
  border-radius: 20px;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.new-task-container{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.write-task{
  height: 35px;
  margin-right: 20px;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.create-task-button{
  height: 45px;
  width: 45px;
  border-radius: 40px;
  background-color: white;
  color: rgb(25,25,71);
  font-size: 32px;
  align-items: center;
  cursor: pointer;
}

.tasks-container{
  background-color: rgb(25,25,71);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.task {
  height: 70px;
  background-color: white;
  margin: 15px;
  border-radius: 10px;

  display: grid;
  align-items: center;
  grid-template-columns: 7fr 1fr;
  justify-content: center;

  padding-left: 10px;
  padding-right: 10px;
}
.done-task-text{
  text-decoration: line-through;
}
.task-text{
  display: inline-block;
  margin-left: 5px;
}
.task-content{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
}

.not-done-button{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: solid;
  background-color: white;
  border-color: rgb(21,21,62);
  cursor: pointer;
}

.done-button{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: solid;
  background-color: rgb(21,21,62);
  border-color: rgb(21,21,62);
  cursor: pointer;
}

.buttons{
  width: 35px;
  height: 35px;
  border-radius: 30px;
  border:none;
  background-color: white;
  color: rgb(21,21,62);
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}


.edit-button{
  width: 30px;
  height: 30px;
  border-radius: 30px;
}


.delete-button{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: white;
  color: rgb(21,21,62);
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.edit-task{
  height: 35px;
  margin-right: 20px;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
